@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-noto-sans-jp);
}

body {
  background: #ffffff;
  color: #171717;
  font-family: var(--font-noto-sans-jp), sans-serif;
}
